# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.myenv/
venv/
env/
ENV/
.env
.venv/

# Streamlit specific
.streamlit/
secrets.toml

# Environment variables
.env

# MacOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
